<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{Titlename}}</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <link rel="stylesheet" href="/public/css/game-styles.css">
</head>
<body>
    {{{body}}}
    <button id="toggleDarkMode">dark mode</button>
    <script src="/public/js/darkmode.js"></script>
</body>
</html>