<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{Titlename}}</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <link rel="stylesheet" href="/public/css/game-styles.css">
</head>
<body>
    <div>
    <a href="/">home</a>
    
    </div>
    <br>
    {{{body}}}
    <br>
    <button id="toggleDarkMode">dark mode</button>
    <script src="/public/js/darkmode.js"></script>
    <script src="/public/js/gameDetails.js"></script>
    <script src="/public/js/auth.js"></script>
    <script src="/public/js/editGame.js"></script>
</body>
</html>