
<main>
    <div class="input-group ">
        <span class="input-group-addon" id="sizing-addon1">选择图片:</span>
        <input type="file" class="select-img" name="pic1" multiple="multiple" >
    </div>
    <div class="input-group ">
        <img src="/public/images/1.png" alt="" class="show-img">
    </div>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.15.0/js/jquery.fileupload.min.js"></script>
<script src='/public/js/submitcomments.js'></script>