<div>
    <form id="commentForm" class={{gameid}}>
        <div class="inputgroup">
            <textarea name="text" id="text" rows="4" cols="50"></textarea>
            <div class="btngroup">
                <div id="uploadimage">
                    <label id="filelabel" for="select-img">Upload Images</label>
                    <input type="file" class="select-img" id="select-img" multiple="multiple">
                </div>
                <button class="submitbtn" type="submit">submit</button>
            </div>
        </div>
    </form>
    <div class="pics" id="pics"></div>
</div>
<div>
    {{#if isAdmin}}
        <button id="checkreported">Check reported comments</button>
    {{/if}}
    <ul id="commentslist">
        {{#each commentlist}}
            <li class="listnode">
                {{>commentT comment=this}}
            </li>
        {{/each}}
    </ul>
    <button id="loadingbtn" class={{gameid}}>loading more</button>
    <p id="lastcomment">No more comments</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script src="/public/js/submitcomments.js"></script>