<form id='editForm' method="POST">
    <label>User Name: <input name='userName' type="text" id="name"/></label>
    <label>Age: <input name='age' type="text" id="age"/></label>
    {{!-- do we need to give update email? if so, --}}
    {{!-- <label>Email: <input name='email' type="text" /></label> --}}
    <label>New Password: <input name='password' id="password" type="password" /></label>
    {{!-- update avatar link ig --}}
    <h3><a href="/user/{{id}}/edit/avatar">Change profile picture</h3>
    {{!-- <input type="file" name="file" id="file"> --}}
    <button type="submit" id="editProfileButton">Submit</button>
</form>
<script src="/public/js/userProf.js"></script>
