<form id='editForm' method="POST" enctype="multipart/form-data">
    
    <label for = "avatar">New profile picture:</label> 
    <input type="file" accept="image/*" name="avatar" id="avatar" >
    <button type="submit" id="editProfileButton">Submit</button>
</form>
{{!-- to do --}}
{{#if hasErrors}}
<ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
{{/if}}