<h1>{{Titlename}}</h1>

<form action="" method="POST" id="update-game-form" class="update-game-form">
    <input type="hidden" name="_method" value="DELETE" >
    <label for="name">Name </label>
    <input type="text" name="name" id="name" placeholder="Eg: Call of Duty">

    <label for="releaseDate">Release date </label>
    <input type="text" name="releaseDate" id="releaseDate" placeholder="MM/DD/YYYY">
    <label for="ageRating">Recommended age</label>
    <select name= "ageRating" id="ageRating">
        <option value= 18>18+</option>
        <option value= 15>15+</option>
        <option value= 12>12+</option>
    </select>
    <label for="genre">Genre</label>
    <input type="text" name="genre" id="genre">    
    <label for="description">Description</label>
    <input type="text" name="description" id="description">

    <input type="hidden" name="_method" value="PATCH" >
    <input type="submit" value="Update">    

</form>