<h1>Edit Review</h1>
<form action="edit" method="POST" id="edit-review-form" class="edit-review-form">
    <label for="review">Review</label>
    <textarea id="review" type="text" placeholder="Type your review" name="reviewInput" >{{prevReview.review}}</textarea>
    <br>
    <label for="rating">Rating</label>
    <input id="rating" type="number" placeholder="Enter your rating(1-10)"name="ratingInput" value="{{prevReview.userRating}}">
    {{!-- <button type="submit">Edit review</button> --}}
    <input type="hidden" name="_method" value="PUT" >
    <input type="submit" value="Edit" class="btn btn-primary">

</form>
{{#if isAdded}}<p>{{status}}</p>{{/if}}
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
{{/if}}
<div id="editRatingError" class="error" hidden>Errors: 
<ul class="client-side-error-edit-review" id="client-side-error-edit-review"></ul>
</div>
