<form id='editForm' method="POST" enctype="multipart/form-data">
    
    <label>New profile picture:</label> 
    <input type="file" name="file" id="file">
    <button type="submit" id="editProfileButton">Submit</button>
</form>