<form id='editForm' method="POST">
    <label>User Name: <input name='userName' type="text" id="name"/></label>
    <label>Age: <input name='age' type="number" id="age"/></label>
    <label>Old Password: <input name='oldpassword' id="oldpassword" type="password" /></label>
    <label>New Password: <input name='newpassword' id="newpassword" type="password" /></label>
    {{!-- update avatar link ig --}}
    <h3><a href="/user/{{id}}/edit/avatar">Change profile picture</a></h3>
    {{!-- <input type="file" name="file" id="file"> --}}
    <button type="submit" id="editProfileButton">Submit</button>
</form>
<script src="/public/js/userProf.js"></script>
{{!-- to do --}}
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
{{/if}}

