<p>
    The website is aimed to provide a comprehensive and user-friendly platform for gamers 
    to discover, rate, and discuss their favorite games. We will try to help gamers make 
    informed purchasing decisions by providing insights on the game.
    On this website users can find reviews of the latest and popular games, as well as lesser 
    known gems. The website will also have a community page where users can discuss 
    games, ask for recommendations, and share their opinions.
</p>
<a href="/login">Login</a>
<a href="/register">Register</a>