{{!-- {{#if profileId}}
<a href="/user/{{profileId}}">profile</a>
{{/if}} --}}
{{#if profileId}}
<div class="col-md-12 text-right ">
<a href="/user/{{profileId}}" class="btn btn-primary">profile</a>
</div>
{{/if}}
{{#if user}}
<div class="col-md-12 text-right">
    <a href="/logout" class="btn btn-primary">Logout</a>
</div>
{{else}}
<div class="col-md-12 text-right">
    <a href="/login" class="btn btn-primary">Login </a>
    <a href="/register" class="btn btn-primary">Register</a>
</div>
{{/if}}

<h1>Game Review System</h1>
<p>
    Our website is designed to cater to the needs of gaming enthusiasts by providing them with a one-stop-shop for discovering, rating, and discussing their favorite games. 
    Our aim is to assist gamers in making informed decisions by offering them insights into the games they're interested in.
    We've got you covered whether you're into the newest, most popular titles or lesser-known hidden gems. 
    We've also got a comment section where gamers can engage in conversations, seek recommendations, and share their views.
</p>
{{!-- {{#if user}}
<div class="col-md-12 bg-light text-right">
    <a href="/logout" class="btn btn-primary">Logout</a>
</div>
{{else}}
<div class="col-md-12 text-right">
    <a href="/login" class="btn btn-primary">Login </a>
    <a href="/register" class="btn btn-primary">Register</a>
</div>
{{/if}} --}}
<div class="text-center">
<a href="/gamelist" class="btn btn-primary">GameList</a>
<a href="/compare" class="btn btn-primary">Compare games</a>
</div>

